<mat-toolbar  class="Color-navbar">
    <mat-toolbar-row>
      <span [routerLink]="'/'"  > WebWorks</span>
      <button mat-raised-button color="primary" [routerLink]="'/IniciarSesion'">Iniciar Sesion</button>
      <button mat-raised-button color="primary" [routerLink]="'/Registrar'">Registrarse</button>
      <button mat-raised-button color="primary" [routerLink]="'/plan'">Planes</button>
      <button mat-raised-button color="primary" [routerLink]="'/footerinicio'">Acerca de Nosotros</button>
    </mat-toolbar-row>
  </mat-toolbar>

