<mat-toolbar class="conteiner">
  <mat-toolbar class="form-container">
    <div class="contenidoInicio" [routerLink]="'/pageCompany'">
      <span>W</span>
      <span>E</span>
      <span>B</span>
      <span>W</span>
      <span>O</span>
      <span>R</span>
      <span>K</span>
      <span>S</span>
    </div>

    <span class="example-spacer"></span>

    <div class="containerbutton" >

      <div class="iconConteiner" routerLink="/pageCompany" >
        <mat-icon class="icono" svgIcon="homeIcon" aria-hidden="false" aria-label="Example thumbs up SVG icon">
        </mat-icon>
        <span class="textoNombre">Home</span>
      </div>

      <div class="iconConteiner" routerLink="/profileCompany" >
        <mat-icon class="icono" svgIcon="companyIcon" aria-hidden="false" aria-label="Example thumbs up SVG icon">
        </mat-icon>
        <span class="textoNombre">Profile</span>
      </div>

      <div class="iconConteiner"  (click)="logoutCompany()" routerLink="/">
        <mat-icon class="icono" svgIcon="exitIcon" aria-hidden="false" aria-label="Example thumbs up SVG icon">
        </mat-icon>
        <span class="textoNombre">Logout</span>
      </div>

    </div>
  </mat-toolbar>

</mat-toolbar>
