<div class="conteiner"   >
    <form  autocomplete="off"  class="form-container">
        <H1>Registrar proyecto</H1>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del Repositorio</mat-label>
          <input  matInput 
          placeholder="name repositorio" 
          required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input matInput 
            placeholder="descripcion" 
            required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Fecha de Creacion </mat-label>
            <input matInput 
            type="date"
            placeholder="MM" 
            required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Numero de Proyectos</mat-label>
            <input matInput 
            type="number"
            placeholder="1 - 1000"  
            required>
        </mat-form-field>
       
        <button class="button"  color="primary">Registrar</button>
    
    </form>
</div>
