<div class="conteiner">

    <form [formGroup]="updateProfileForm" autocomplete="off" class="form-container">
      <H1>Actualizar Datos </H1>

      <div class="file">
        <img [src]="urlPhoto"  alt="" width="200" height="200" id="img">
        <label for="archivo">Elige una imagen</label>
        <input type="file" (change)="captureImage($event)"  id="archivo">
      </div>

      <div class="conteniner_Datos">
        <mat-form-field class="matIzquierdo">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="name" formControlName="name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>LastName</mat-label>
          <input matInput type="text" placeholder="lastname" formControlName="lastname" required>
        </mat-form-field>
      </div>

      <div class="conteniner_Datos">
        <mat-form-field class="matIzquierdo">
          <mat-label>Phone</mat-label>
          <input matInput type="text" placeholder="Phone number" formControlName="phone" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>


        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="email@" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="username" formControlName="username" required>
        </mat-form-field>

       <mat-form-field class="example-full-width" style="color: black">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hideNewPassword() ? 'password' : 'text'" placeholder="newPassword" formControlName="newPassword" required/>
        <button
          mat-icon-button
          matSuffix
          (click)="clickEventNewPassword($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideNewPassword()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
       </mat-form-field>

       <mat-form-field class="example-full-width" style="color: black">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" placeholder="password" formControlName="password" required/>
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
       </mat-form-field>

       <button class="button" color="primary" (click)="update()" >Update</button>

    </form>

</div>
