<div class="conteiner">
  <div class="form-container" *ngFor="let item of dataSource.data">
   <div >
    <img  class="imagenPlan" src="/assets/image/Plan1.jpg" alt="">
    <h1>{{item.name}}</h1>
    <p>{{item.description1}}</p>
    <p>{{item.description2}}</p>
    <p>{{item.description3}}</p>
    <p>{{item.description4}}</p>
    <p>{{item.description5}}</p>
    <p>{{item.description6}}</p>
    <p>{{item.description7}}</p>
    <p>{{item.description8}}</p>
    <p>{{item.description9}}</p>
    <p>{{item.description10}}</p>
    <button class="button"color="primary">Ingresar</button>
   </div>

  </div>
</div>