<div class="conteiner">
    <div class="containerForm">
        <div class="conteinerParte">
            <img class="imagenPago" src="/assets/image/pago.png" alt="">
            <p>Este medio pago se usar para el <br> 
                cobro de los siguientes meses</p>
            <h3>Tu tienes el poder en tus manos</h3>
        </div>
        <form  autocomplete="off"  class="formPago">
            <h1>Metodo de Pago</h1>
            <mat-form-field class="example-full-width">
                <mat-label>Numero de CARD</mat-label>
                <input matInput  
                placeholder="1234 5678 9012 3456" 
                maxlength="19" 
                    required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Fecha de Caducidad</mat-label>
                <input matInput type="date" 
                placeholder="MM/YY"  
                required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>CCV</mat-label>
                <input matInput  
                [maxLength]="3" 
                placeholder="123"  
                required>
            </mat-form-field>
            <button class="button">Agregar Pago</button>
        </form>

    </div>
</div>