<div class="conteiner"   >
    <form  autocomplete="off" [formGroup]="myForm" class="form-container">
        <H1>Registrar un proyecto</H1>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del proyecto</mat-label>
          <input  matInput 
          placeholder="name proyecto" 
          formControlName="name"
          required>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <mat-label>Fecha de termino </mat-label>
            <input matInput 
            type="date"
            placeholder="MM" 
            formControlName="dateEnd"
            required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input matInput 
            placeholder="descripcion" 
            formControlName="description"
            required>
        </mat-form-field>
       
        <button class="button" (click)="Registrar" color="primary">Registrar</button>
    
    </form>
</div>