<div class="conteiner">
    <form autocomplete="off" [formGroup]="repositorioForm" class="form-container">
        <h1>Registrar Repositorio</h1>

        <mat-form-field class="example-full-width">
            <mat-label>Nombre del proyecto</mat-label>
            <input matInput type="text" placeholder="Nombre del repositorio" formControlName="name" required>
        </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea matInput type="text" placeholder="Descripción" formControlName="description" required></textarea>
      </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Cantidad de Proyectos</mat-label>
            <input matInput type="number" placeholder="Número de proyectos" formControlName="numberProject" required>
        </mat-form-field>

        <button class="button" *ngIf="id==undefined || false " (click)="addOrUpdate()" color="primary">Registrar</button>
        <button class="button" *ngIf="id!=undefined || id!=null " (click)="addOrUpdate()" color="primary">Modificar</button>

        <button class="button"  [routerLink]="'/listRepositorio'" (click)="deleteDateSave()" color="primary">Ver Repositorios</button>

    </form>
</div>

