<div>
    <div class="container">
        <div class="column1">
            <h1>CONOZCA A WEBWORKS</h1>
            <p>Webworks te ayuda alcanzar tus sueños <br></p>
        </div>
        <div class="column2">
            <div class="columnCursoJava">
                <h1>JAVASCRIP</h1>
                <p>Compromiso con la calidad</p>
            </div>
            <div class="columnCursoCss">
                <h1>CSS</h1>
                <p>Un marco ideal</p>
            </div>
            <div class="columnCursoFrontend">
                <h1>DESARROLLO FRONTEND</h1>
                <p>Supero sus expectativas</p>
            </div>
        </div >
        <div class="column3">
        <div class="imagesPrecio">
            <img src="/assets/image/precio.jpg" alt="">
        </div>
        <div class="textoPrecio">
            <h1>PRECIO COMPETITIVO</h1>
            <h2>Calidad excepcional</h2>
            <p>Esta es tu descripción de Características. Describe resumidamente la <br>
                característica que quieres destacar aquí y explica por qué es <br>
                importante para el servicio que prestas. No temas promocionar tu <br>
                imagen. Aprovecha esta sección para enfatizar los beneficios y <br>
                ventajas claves.
            </p>
        </div>
        </div>
    </div>

</div>