    <div class="container">

        <div class="column1">
            <h1>BIENVENIDO A WEBWORKS</h1>
            <p>Webworks te ayuda alcanzar tus sueños</p>
        </div>

        <div class="column2">
            <div class="columnCursoJava">
                <h1>JAVASCRIP</h1>
                <p>Compromiso con la calidad</p>
            </div>
            <div class="columnCursoCss">
                <h1>CSS</h1>
                <p>Un marco ideal</p>
            </div>
            <div class="columnCursoFrontend">
                <h1>DESARROLLO FRONTEND</h1>
                <p>Supero sus expectativas</p>
            </div>
        </div>

        <div class="column3">
            <div class="imagesPrecio">
                <img class="img-Precio" src="/assets/imagenes/precio.jpg" alt="">
            </div>
            <div class="textoPrecio">
                <h1>PRECIO COMPETITIVO</h1>
                <h2>Calidad excepcional</h2>
                <p>Esta es tu descripción de Características. Describe resumidamente la <br>
                    característica que quieres destacar aquí y explica por qué es <br>
                    importante para el servicio que prestas. No temas promocionar tu <br>
                    imagen. Aprovecha esta sección para enfatizar los beneficios y <br>
                    ventajas claves.
                </p>
                <button class="button" data-text="Awesome" [routerLink]="'/listPlanInicio'" >
                    <span class="actual-text">&nbsp;Planes&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;Planes&nbsp;</span>
                </button>
            </div>
        </div>
    </div>

